name: Check Flake

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: # allows manual triggering

jobs:
  check:
    runs-on: ubuntu-latest
    name: Check Flake
    steps:
      - name: Purge unnecessary things
        uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: "rampage"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            accept-flake-config = true

      - name: Check
        run: |
          nix flake check --all-systems
